<header role="banner">
<nav class="desktop nav-desktop">
  <ul class="d-flex p-0">
    </div>
    <li class="nav-desktop">
      <%= link_to "À PROPOS", root_path(anchor: "about") %>
    </li>
    <li class="nav-desktop">
      <%= link_to "COMPÉTENCES", root_path(anchor: "skills") %>
    </li>
    <li class="div-logo d-flex">
      <%= link_to "M", root_path, id: "logo-letter" %>
    </li>
    <li class="nav-desktop">
      <%= link_to "PROJETS", projects_path %>
    </li>
    <li class="nav-desktop">
      <%= link_to "CONTACT", new_contact_path %>
    </li>
    <% if user_signed_in? %>
        <li>
        <%= link_to "ADMIN", root_path %>
      </li>
      <% end %>
  </ul>
</nav>

<nav class="mobile position-fixed nav-mobile">
  <div class="div-logo">
    <%= link_to "M", root_path, id: "logo-letter" %>
  </div>
  <div>
    <ul class="p-0 d-flex">
      <li>
        <%= link_to "À PROPOS", root_path(anchor: "about") %>
      </li>
      <li>
        <%= link_to "COMPÉTENCES", root_path(anchor: "skills") %>
      </li>
      <li>
        <%= link_to "PROJETS", projects_path %>
      </li>
      <li>
        <%= link_to "CONTACT", new_contact_path %>
      </li>
      <% if user_signed_in? %>
        <li>
        <%= link_to "ADMIN", root_path %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
