<nav class="desktop nav-desktop">
  <ul class="d-flex p-0">
    </div>
    <li class="nav-desktop">
      <%= link_to "À PROPOS", about_path %>
    </li>
    <li class="nav-desktop">
      <%= link_to "COMPÉTENCES", skills_path %>
    </li>
    <li class="div-logo d-flex">
      <%= link_to "M", root_path, id: "logo-letter", data: { turbolinks: false } %>
    </li>
    <li class="nav-desktop">
      <%= link_to "PROJETS", projects_path %>
    </li>
    <li class="nav-desktop">
      <%= link_to "CONTACT", new_contact_path %>
    </li>
    <% if user_signed_in? %>
        <li>
        <%= link_to "ADMIN", root_path %>
      </li>
      <% end %>
  </ul>
</nav>

<nav class="mobile nav-mobile">
  <div class="div-logo d-flex">
    <%= link_to "M", root_path, id: "logo-letter", data: { turbolinks: false } %>
  </div>
  <div>
    <ul class="p-0 d-flex">
      <li>
        <%= link_to "À PROPOS", about_path %>
      </li>
      <li>
        <%= link_to "COMPÉTENCES", skills_path %>
      </li>
      <li>
        <%= link_to "PROJETS", projects_path %>
      </li>
      <li>
        <%= link_to "CONTACT", new_contact_path %>
      </li>
      <% if user_signed_in? %>
        <li>
        <%= link_to "ADMIN", root_path %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
