<div class="admin">
  <div class="row">
    <div class="admin-section col-10 col-md-5">
      <h5>NOUVEAUX MESSAGES</h5>
      <ul>
        <% @messages.each do |message| %>
          <% if message.read == false %>
          <li class="message d-flex justify-content-between">
            <div class="message-infos">
              <p>Le <%= message.created_at.strftime("%d/%m/%Y, à %H:%M") %></p>
              <p>Nom: <%= message.name %></p>
              <p>Numéro: <%= message.phone %></p>
              <p>Email: <%= message.email %></p>
              <p>Message: <br><%= message.message %></p>
            </div>
            <div class="message-options">
              <%= link_to contact_path(message), method: :patch do %>
                <i class="far fa-check-circle fa-lg"></i>
              <% end %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="admin-section col-10 col-md-5">
      <div class="admin-header mb-3 d-flex flex-column align-items-center">
      <h5 class="w-100">PROJETS</h5>
      <%= link_to "+ Nouveau projet", new_project_path, class: "btn-white" %>
      </div>
      <ul>
        <div class="row justify-content-around">
          <% @projects.each do |project| %>
            <li class="projet col-8 d-flex justify-content-between">
              <%= link_to project_features_path(project) do %>
              <p><%= project.name.upcase %></p>
              <% end %>
              <div class="edit-btn">
                <%= link_to edit_project_path(project) do %>
                  <i class="far fa-edit fa-lg fa-white"></i>
                <% end %>
                <%= link_to project_path(project), method: :delete do %>
                  <i class="far fa-trash-alt fa-lg fa-white"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="read-messages col-10">
      <h5>MESSAGES LUS</h5>
      <ul>
        <% @messages.each do |message| %>
          <% if message.read? %>
            <li class="message d-flex justify-content-between">
            <div class="message-infos">
              <p>Message reçu le <%= message.created_at.strftime("%d/%m/%Y, à %H:%M") %></p>
              <p>Nom: <%= message.name %></p>
              <p>Numéro: <%= message.phone %></p>
              <p>Email: <%= message.email %></p>
              <p>Message: <br><%= message.message %></p>
            </div>
            <div class="message-options">
              <%= link_to contact_path(message), method: :delete do %>
                <i class="far fa-times-circle fa-lg"></i>
              <% end %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
