<div class="admin">
  <div class="row">
    <div class="admin-section col-10 col-md-5">
      <h5>NOUVEAUX MESSAGES</h5>
      <ul>
        <% @messages.each do |message| %>
          <% if message.read == false %>
          <li class="message d-flex justify-content-between">
            <div class="message-infos">
              <p>Le <%= message.created_at.strftime("%d/%m/%Y, à %H:%M") %></p>
              <p>Nom: <%= message.name %></p>
              <p>Numéro: <%= message.phone %></p>
              <p>Email: <%= message.email %></p>
              <p>Message: <br><%= message.message %></p>
            </div>
            <div class="message-options">
              <%= link_to contact_path(message), method: :patch do %>
                <i class="far fa-check-circle fa-lg"></i>
              <% end %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="admin-section col-10 col-md-5">
    <h5>PROJETS</h5>
      <ul>
        <%= link_to "Ajouter un projet", new_project_path %>
        <% @projects.each do |project| %>
          <li class="projet">
            <p class=""><%= project.name %></p>
            <p class="text-justify"><%= project.description %></p>
            <%= link_to "Supprimer", project_path(project), method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="read-messages col-10">
      <h5>MESSAGES LUS</h5>
      <ul>
        <% @messages.each do |message| %>
          <% if message.read? %>
            <li class="message d-flex justify-content-between">
            <div class="message-infos">
              <p>Message reçu le <%= message.created_at.strftime("%d/%m/%Y, à %H:%M") %></p>
              <p>Nom: <%= message.name %></p>
              <p>Numéro: <%= message.phone %></p>
              <p>Email: <%= message.email %></p>
              <p>Message: <br><%= message.message %></p>
            </div>
            <div class="message-options">
              <%= link_to contact_path(message), method: :delete do %>
                <i class="far fa-times-circle fa-lg"></i>
              <% end %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
