<header>
  <div class="title-header d-flex flex-column justify-content-center">
    <h1 class="transparent">MÉLIA MAZOUZI</h1>
    <h2></h2>
  </div>
</header>

<div id="about">
  <div class="presentation d-flex flex-column">
    <div class="picture mt-3"></div>
    <div class="myself mt-5">
      <h3 class="text-center">Hello world, moi c'est Mélia!</h3>
      <p class="text-center">Après avoir commencé à coder pour le plaisir en 2019, j'ai décidé de suivre la formation du Wagon à Nantes afin de faire de cette passion mon métier.
        <br>Actuellement développeuse web fullstack freelance, je suis disponible pour réaliser vos projets de conception et développement d'application web.
        <br> N'hésitez pas à prendre
        <a href="#contact">contact </a> pour échanger, à télécharger
        <%= link_to "mon CV", asset_path("CV_Melia_Mazouzi.pdf"), download: "CV_Melia_Mazouzi" %>, ou à venir me voir sur les réseaux sociaux!</p>
    </div>
  </div>
  <div class="my-social-media text-center pt-3">
    <a href="https://www.linkedin.com/in/melia-mazouzi/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
    <a href="https://github.com/meliamzz" target="_blank"><i class="fab fa-github fa-2x"></i></a>
  </div>
</div>

<div id="skills">
  <div class="row container mx-auto">

    <div class="skills-card col-10 col-md-6 col-lg-4">
      <div class="icones-skills">
        <i class="fab fa-html5 fa-2x"></i>
        <i class="fab fa-css3-alt fa-2x"></i>
        <i class="fab fa-bootstrap fa-2x"></i>
      </div>
      <div class="description-skills">
        <p>Réalisation de sites statiques via HTML5, CSS3 et Bootstrap.
          <br>Les sites sont créés de manière responsive, afin de s'adapter à toute sorte d'appareils.
        </p>
      </div>
    </div>

    <div class="skills-card col-10 col-md-6 col-lg-4">
      <div class="icones-skills">
        <%= image_tag("ruby.svg", alt: "Logo Ruby", class:"logo-ruby") %>
        <%= image_tag("rails.svg", alt: "Logo Rails", class:"logo-rails") %>
      </div>
      <div class="description-skills">
        <p>Côté serveur, utilisation de Ruby et son framework Rails pour créer les fonctionnalités nécessaires au
          fonctionnement et aux besoins du site ou de l'application web.</p>
      </div>
    </div>

    <div class="skills-card col-10 col-md-6 col-lg-4">
      <div class="icones-skills">
        <i class="fab fa-js-square fa-2x"></i>
        <i class="fab fa-react fa-2x"></i>
      </div>
      <div class="description-skills">
        <p>Utilisation de Javascript afin de dynamiser vos pages et de les animer. <br>
          React est utilisé afin de créer des interfaces utilisateurs intéractives.
        </p>
      </div>
    </div>

    <div class="skills-card col-10 col-md-6 col-lg-4">
      <div class="icones-skills">
        <%= image_tag("postgre.svg", alt: "Logo PostgreSQL", class:"logo-postgre") %>
        <%= image_tag("heroku.svg", alt: "Logo Heroku", class:"logo-heroku") %>
      </div>
      <div class="description-skills">
        <p>Gestion de la base de données via PostgreSQL, et déploiement en ligne via la plateforme d'Heroku.</p>
      </div>
    </div>


    <div class="skills-card col-10 col-md-6 col-lg-4">
      <div class="icones-skills">
        <i class="fab fa-github fa-2x"></i>
      </div>
      <div class="description-skills">
        <p>Github est utilisé afin de conserver un historique des modifications du code, et de travailler à plusieurs sur un même projet.</p>
      </div>
    </div>

    <div class="skills-card col-10 col-md-6 col-lg-4">
      <div class="icones-skills">
        <%= image_tag("figma.svg", alt: "Logo Figma", class:"logo-figma") %>
        <%= image_tag("notion.svg", alt: "Logo Notion", class:"logo-notion") %>
      </div>
      <div class="description-skills">
        <p>Création du prototype sur figma, afin d'obtenir une représentation visuelle du rendu souhaité.
          <br> Utilisation de Notion pour organiser la conception et la réalisation.
        </p>
      </div>
    </div>
  </div>
</div>
