<ul class="projects padding-top row">
  <% @projects.each do |project| %>
    <% if project.photo.attached? %>
    <li class="projects-card <%= project.img_folder %>-card col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center" style="background-image: url('<%= cl_image_path project.photo.key %>')">
    <% end %>
      <%= link_to project_path(project) do %>
          <h4><%= project.name %></h4>
          <p><%= project.language %></p>
      <% end %>
    </li>
  <% end %>
</ul>
