<div class="container project">
  <div class="section col-11 col-lg-8">
    <div class="project-card project-card-banner <%= @project.img_folder %>-card-2 "></div>
    <h3><%= @project.name %></h3>
    <p><%= @project.description %></p>
  </div>

  <div class="section section col-11 col-lg-8">
    <div class="project-card <%= @project.img_folder %>-card-3"></div>
    <p><%= @project.feature1 %></p>
  </div>

  <div class="section section col-11 col-lg-8">
    <div class="project-card <%= @project.img_folder %>-card-4"></div>
    <p><%= @project.feature2 %></p>
  </div>

  <div class="section section col-11 col-lg-8">
    <div class="project-card <%= @project.img_folder %>-card-5"></div>
    <p><%= @project.feature3 %></p>
  </div>
</div>

<% @project.features.each do |feature| %>
<%= cl_image_tag feature.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= feature.description %></p>
<% end %>
