<div class="features padding-top container">
  <%= link_to 'Ajouter fonctionnalité', new_project_feature_path, class: "btn-white" %>
  <div class="row justify-content-between">

  <% @features.each do |feature| %>

    <div class="card col-10 col-sm-5 col-md-5 col-lg-3 p-0 mt-4 mb-4 mx-auto">
      <div class="card-img-top div-img" style="background-image: url('<%= cl_image_path feature.photo.key %>')">
      </div>
      <div class="card-body text-center">
        <p class="card-text"><%= feature.description %></p>
        <%= link_to edit_project_feature_path(@project, feature.id) do %>
          <i class="far fa-edit fa-lg fa-beige"></i>
        <% end %>
        <%= link_to project_feature_path(@project, feature.id), method: :delete do %>
          <i class="far fa-trash-alt fa-lg fa-beige"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

</div>
